<h1>Welcome to CatBook!</h1>

<p>
  Catbook is the best social networking site for your cats.
</p>

<table>
  <tr>
    <th>Owner</th>
    <th>City</th>
  </tr>
  <% @owners.each do |owner| %>
    <tr>
      <td><%= link_to owner.name, owner_path(owner.id) %></td>
      <td><%= owner.city %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Create New Owner", new_owner_path, method: :get %>
