<h1>Here's one owner</h1>

<p>
  Things to do on this page:
</p>
<ul>
  <li>View list of cats this owner has</li>
  <li>Click a cat to "log in" as that cat</li>
  <li>Edit owner, delete owner account</li>
  <li>Add a cat</li>
  <li>Optional: show most recent statuses for each cat</li>
</ul>
